*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    margin-top: 80px;
    text-align: center;
    grid-column: span 3;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 35%;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}

.cont #myForm{
    display: grid;
    margin-top: 70px;
    display: grid;
    grid-template-columns:50%;
    grid-template-rows: repeat(30,10px);
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    gap: 3px 0px;
}

label{
    grid-row: span 5;
    font-weight: bold;
}

input{
height: 40px;
border:1px solid rgb(255, 219, 88);
border-radius: 5px;
padding-left: 5px;
background-color: #eee;
}

.name{
    display:grid;
    grid-template-columns: repeat(2,auto);
    gap: 0 15px;
}

.terms{
    margin-top: 150px;
}
.terms label{
    display: block;
}

.cterms{
    color:rgb(255, 219, 88)
}

button{
    margin-top: 250px;
    grid-row: 28/30;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(255, 219, 88);
    border: none;
    color: white;
}
